@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Overpass:wght@400;700&display=swap');

//Colors

//Primary

$soft-red: hsl(10, 79%, 65%);
$cyan: hsl(186, 34%, 60%);

// Neutral

$dark-brown: hsl(25, 47%, 15%);
$medium-brown: hsl(28, 10%, 53%);
$cream: hsl(27, 66%, 92%);
$very-pale-orange: hsl(33, 100%, 98%);

:root{
    font-family: "DM Sans", sans-serif;
}

*{
    margin:0;
    padding:0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background-color: $cream;

    h1{
        font-size: 1.8rem;
    }

    h3{
        font-size: 18px;
        font-weight: 400;
    }
}

.container{
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    min-width: 350px;
    height: 100px;
    background-color: $soft-red;
    border-radius: 10px;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    *{
        color: $very-pale-orange;
    }
}

