@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Overpass:wght@400;700&display=swap');

//Colors

//Primary

$soft-red: hsl(10, 79%, 65%);
$cyan: hsl(186, 34%, 60%);

// Neutral

$dark-brown: hsl(25, 47%, 15%);
$medium-brown: hsl(28, 10%, 53%);
$cream: hsl(27, 66%, 92%);
$very-pale-orange: hsl(33, 100%, 98%);

:root{
    font-family: "DM Sans", sans-serif;
}

*{
    margin:0;
    padding:0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background-color: $cream;

    h1{
        font-size: 1.8rem;
        font-weight: 700;
    }

    h2{
        font-size: 1.6rem;
        font-weight: 700;
    }

    h3{
        font-size: 18px;
        font-weight: 400;
    }

    p{
        font-size: 0.8rem;
    }
}

.container{
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.header{
    min-width: 350px;
    height: 100px;
    background-color: $soft-red;
    border-radius: 10px;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    *{
        color: $very-pale-orange;
    }
}

.body-container{
    width: 350px;
    width: 350px;
    height: 400px;
    background-color: $very-pale-orange;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.chart{
    width: 100%;
    height: 78%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 1.5rem;

    .chart__title{
        color: $dark-brown;
        margin-bottom: 1.5rem;
    }
}

hr{
    width: 100%;
    border-top: 2px solid $cream;
}

.chart__body{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.8rem;
    margin-bottom: 1.5rem;

    .day{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-self: center;
        gap: .8rem;

        .bar{
            height: 100%;
            width: 100%;
            background-color: $soft-red;
            border-radius: 5px;
        }

        p{
            width: 100%;
            color: $medium-brown;
            text-align: center;
        }
    }
}

.expenses{
    width: 100%;
    height: 22%;

    h3{
        text-align: start;
        color: $medium-brown;
        margin-bottom: 0.1rem;
    }
}

.info-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1{
        font-size: 2.2rem;
    }
}

.percentage-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;


    .percentage{
        color: $dark-brown;
        font-weight: 700;
    }
}